.foto {
        width: 90%;
        max-width: 400px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        display: flex;
        align-content:center;
        padding: 20px;
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
  }